# Feature 11: posicionamiento en el campo

In [1]:
# librearías
import pandas as pd
import numpy as np

In [2]:
laLiga = pd.read_csv(r'C:\Users\DELUX\Desktop\datos_OPTA\laLiga.csv')

In [3]:
toques = laLiga[['categoria_evento','fecha','id_evento','id_periodo','minuto','segundo','equipo','calificador','valor','id_jugador','jugador','x','y','outcome']].copy()
toques['valor'].fillna(True, inplace=True)

In [4]:
toques.loc[177808:177815]

,categoria_evento,fecha,id_evento,id_periodo,minuto,segundo,equipo,calificador,valor,id_jugador,jugador,x,y,outcome
177808,pase,3,592,2,61,22,Real Betis,angulo de balón,0.6,86813.0,Aissa Mandi,55.2,2.6,1
177809,pase,3,592,2,61,22,Real Betis,zona,Right,86813.0,Aissa Mandi,55.2,2.6,1
177810,pase,3,592,2,61,22,Real Betis,x_1,66.2,86813.0,Aissa Mandi,55.2,2.6,1
177811,pase,3,592,2,61,22,Real Betis,distancia de balón,13.7,86813.0,Aissa Mandi,55.2,2.6,1
177812,pase,3,592,2,61,22,Real Betis,zona,Back,86813.0,Aissa Mandi,55.2,2.6,1
177813,pase,3,592,2,61,22,Real Betis,y_1,13.4,86813.0,Aissa Mandi,55.2,2.6,1
177814,pase,3,593,2,61,26,Real Betis,y_1,37.1,168598.0,Antonio Sanabria,76.5,22.1,0
177815,pase,3,593,2,61,26,Real Betis,angulo de balón,0.4,168598.0,Antonio Sanabria,76.5,22.1,0

In [5]:
toques.drop(toques.index[[177812]], inplace=True)

In [6]:
toques = toques.set_index(['categoria_evento','fecha','id_evento','id_periodo','minuto','segundo','equipo','id_jugador','jugador','x','y','outcome','calificador'])['valor'].unstack()
toques = toques.reset_index().rename_axis(None).rename_axis(None, axis=1)
toques.fillna(False, inplace=True)

In [7]:
toques = toques[toques['jugador']!=False]

In [8]:
toques = toques[['fecha','equipo','id_jugador','jugador','categoria_evento','x','y']]

In [9]:
toques.head()

,fecha,equipo,id_jugador,jugador,categoria_evento,x,y
760,1,Leganés,116132,Jonathan Silva,balón sale,70.3,101.7
761,1,Villarreal,76610,Mario Gaspar,balón sale,39.6,-1.8
762,1,Real Sociedad,149915,Diego Llorente,balón sale,60.4,101.8
763,1,Athletic Club,197319,Yeray Álvarez,balón sale,29.7,-1.7
764,1,Villarreal,76610,Mario Gaspar,balón sale,24.8,-1.6

In [10]:
toques[(toques['fecha']==1)&(toques['equipo']=='Real Madrid')]

,fecha,equipo,id_jugador,jugador,categoria_evento,x,y
892,1,Real Madrid,36903,Gareth Bale,balón sale,27.2,-1.4
952,1,Real Madrid,39563,Marcelo Vieira Da Silva Junior,balón sale,72.1,102.0
954,1,Real Madrid,36903,Gareth Bale,balón sale,31.0,-1.5
971,1,Real Madrid,36903,Gareth Bale,balón sale,101.4,16.4
1027,1,Real Madrid,88483,Daniel Carvajal,balón sale,100.9,62.4
1040,1,Real Madrid,88483,Daniel Carvajal,balón sale,101.1,24.0
1057,1,Real Madrid,44989,Toni Kroos,balón sale,58.1,101.8
1074,1,Real Madrid,39563,Marcelo Vieira Da Silva Junior,balón sale,68.2,101.7
1085,1,Real Madrid,88483,Daniel Carvajal,balón sale,26.5,-1.5
1097,1,Real Madrid,80209,Francisco Román Alarcón Suárez,balón sale,32.8,102.0
1158,1,Real Madrid,36903,Gareth Bale,balón sale,100.9,49.6
1230,1,Real Madrid,44989,Toni Kroos,balón sale,45.0,102.0
1251,1,Real Madrid,182539,Daniel Ceballos Fernández,balón sale,48.5,-1.8
1264,1,Real Madrid,80209,Francisco Román Alarcón Suárez,balón sale,60.8,101.8
1345,1,Real Madrid,174292,Marco Asensio,balón sale,100.7,58.8
1374,1,Real Madrid,174292,Marco Asensio,balón sale,37.4,-1.6
1406,1,Real Madrid,88483,Daniel Carvajal,balón sale,63.4,-1.2
1455,1,Real Madrid,88483,Daniel Carvajal,balón sale,100.8,7.4
1461,1,Real Madrid,174292,Marco Asensio,balón sale,26.4,-1.6
1486,1,Real Madrid,88477,Jose Ignacio Fernandez Iglesias,balón sale,30.4,-2.0
1496,1,Real Madrid,80209,Francisco Román Alarcón Suárez,balón sale,27.5,102.0
1498,1,Real Madrid,80209,Francisco Román Alarcón Suárez,balón sale,65.1,102.0
1562,1,Real Madrid,80209,Francisco Román Alarcón Suárez,balón sale,27.8,101.7
1575,1,Real Madrid,88477,Jose Ignacio Fernandez Iglesias,balón sale,23.2,102.0
1581,1,Real Madrid,39563,Marcelo Vieira Da Silva Junior,balón sale,22.4,101.8
1596,1,Real Madrid,39563,Marcelo Vieira Da Silva Junior,balón sale,70.8,101.8
1604,1,Real Madrid,88477,Jose Ignacio Fernandez Iglesias,balón sale,37.2,-1.6
1615,1,Real Madrid,182539,Daniel Ceballos Fernández,balón sale,36.8,-1.0
1618,1,Real Madrid,39563,Marcelo Vieira Da Silva Junior,balón sale,-1.3,79.3
1621,1,Real Madrid,28411,Keylor Navas,balón sale,21.0,-1.2
...,...,...,...,...,...,...,...
567943,1,Real Madrid,17861,Sergio Ramos,salvada del portero,15.9,64.0
567945,1,Real Madrid,28411,Keylor Navas,salvada del portero,3.2,51.9
567946,1,Real Madrid,37055,Luka Modric,salvada del portero,28.0,32.4
572219,1,Real Madrid,80209,Francisco Román Alarcón Suárez,tacle,19.6,30.2
572270,1,Real Madrid,88483,Daniel Carvajal,tacle,27.4,12.6
572289,1,Real Madrid,39563,Marcelo Vieira Da Silva Junior,tacle,57.4,88.1
572296,1,Real Madrid,88477,Jose Ignacio Fernandez Iglesias,tacle,62.9,5.1
572303,1,Real Madrid,36903,Gareth Bale,tacle,64.2,8.8
572335,1,Real Madrid,44989,Toni Kroos,tacle,54.4,42.4
572369,1,Real Madrid,88483,Daniel Carvajal,tacle,69.2,23.8
572371,1,Real Madrid,182539,Daniel Ceballos Fernández,tacle,67.6,81.7
572399,1,Real Madrid,19927,Karim Benzema,tacle,73.4,73.6
572410,1,Real Madrid,80209,Francisco Román Alarcón Suárez,tacle,27.5,98.4
572421,1,Real Madrid,39563,Marcelo Vieira Da Silva Junior,tacle,72.0,97.7
572459,1,Real Madrid,39563,Marcelo Vieira Da Silva Junior,tacle,4.2,73.6
572473,1,Real Madrid,44989,Toni Kroos,tacle,23.6,67.2
572483,1,Real Madrid,61256,Carlos Henrique Jose Francisco Venancio,tacle,34.7,59.4
572507,1,Real Madrid,88477,Jose Ignacio Fernandez Iglesias,tacle,8.6,40.4
572509,1,Real Madrid,174292,Marco Asensio,tacle,62.4,74.8
572513,1,Real Madrid,19927,Karim Benzema,tacle,83.8,75.0
572518,1,Real Madrid,17861,Sergio Ramos,tacle,19.0,95.5
572519,1,Real Madrid,37055,Luka Modric,tacle,55.1,82.5
572520,1,Real Madrid,80209,Francisco Román Alarcón Suárez,tacle,73.3,75.5
584912,1,Real Madrid,39563,Marcelo Vieira Da Silva Junior,tarjeta,0.0,0.0
587539,1,Real Madrid,88483,Daniel Carvajal,tiro de esquina,83.8,16.8
587554,1,Real Madrid,19927,Karim Benzema,tiro de esquina,93.5,72.2
587614,1,Real Madrid,174292,Marco Asensio,tiro de esquina,96.4,77.7
594827,1,Real Madrid,19927,Karim Benzema,tiro salvado,94.7,71.8
594863,1,Real Madrid,174292,Marco Asensio,tiro salvado,83.5,48.4
594874,1,Real Madrid,61256,Carlos Henrique Jose Francisco Venancio,tiro salvado,79.1,33.4

In [11]:
toques.categoria_evento.unique()

array(['balón sale', 'cubre balón con cuerpo', 'decisión contenciosa',
       'despeje', 'despeje con puños', 'drible', 'duelo aéreo',
       'error provoca remate', 'evento borrado', 'falta', 'gol',
       'intercepción', 'jugador entra', 'jugador gambeteado',
       'jugador sale', 'jugador tacleado', 'mal saque lateral',
       'mala recepción', 'offside provocado', 'oportunidad desperdiciada',
       'pase', 'pase bloqueado', 'pase en offside',
       'portero descuelga centro', 'portero en penal',
       'portero gana posesión', 'portero recoge el balón', 'poste',
       'recuperación de balón', 'remate fallido',
       'salida despeje de portero', 'salvada del portero', 'tacle',
       'tarjeta', 'tiro de esquina', 'tiro salvado'], dtype=object)

In [12]:
toques = toques.drop(toques[(toques['categoria_evento']=='balón sale')|(toques['categoria_evento']=='decisión contenciosa')|(toques['categoria_evento']=='evento borrado')|
                                  (toques['categoria_evento']=='jugador entra')|(toques['categoria_evento']=='jugador sale')|
                            (toques['categoria_evento']=='mal saque lateral')|(toques['categoria_evento']=='offside provocado')|
                           (toques['categoria_evento']=='portero en penal')|(toques['categoria_evento']=='tarjeta')|
                           (toques['categoria_evento']=='tiro de esquina')|(toques['categoria_evento']=='cubre balón con cuerpo')|
                            (toques['categoria_evento']=='salida despeje de portero')].index)

In [13]:
toques.head()

,fecha,equipo,id_jugador,jugador,categoria_evento,x,y
46545,1,Villarreal,76610,Mario Gaspar,despeje,23.8,5.0
46546,1,Levante,169201,José Manuel Rodríguez Benito,despeje,8.7,61.2
46547,1,Rayo Vallecano,103860,Abdoulaye Ba,despeje,9.7,54.3
46548,1,Leganés,53020,Dimitrios Siovas,despeje,29.0,78.5
46549,1,Valencia CF,92055,Cristiano Piccini,despeje,24.1,6.8

In [14]:
toques.categoria_evento.unique()

array(['despeje', 'despeje con puños', 'drible', 'duelo aéreo',
       'error provoca remate', 'falta', 'gol', 'intercepción',
       'jugador gambeteado', 'jugador tacleado', 'mala recepción',
       'oportunidad desperdiciada', 'pase', 'pase bloqueado',
       'pase en offside', 'portero descuelga centro',
       'portero gana posesión', 'portero recoge el balón', 'poste',
       'recuperación de balón', 'remate fallido', 'salvada del portero',
       'tacle', 'tiro salvado'], dtype=object)

In [15]:
toques[toques['categoria_evento']=='tiro salvado'][['x','y']].describe()

                 x            y
count  4378.000000  4378.000000
mean     84.465761    50.502695
std       7.502166    13.681970
min      44.600000     2.500000
25%      78.200000    39.800000
50%      85.900000    50.700000
75%      90.300000    61.200000
max      99.700000    94.400000

In [16]:
toques['zona_x'] = np.where((0<=toques['x'])&(toques['x']<25),'1', 
                                         np.where((25<=toques['x'])&(toques['x']<50),'2',
                                                  np.where((50<=toques['x'])&(toques['x']<75),'3',
                                                           np.where((75<=toques['x'])&(toques['x']<=100),'4',False))))

In [17]:
toques['zona_y'] = np.where((0<=toques['y'])&(toques['y']<25),'1', 
                                         np.where((25<=toques['y'])&(toques['y']<50),'2',
                                                  np.where((50<=toques['y'])&(toques['y']<75),'3',
                                                           np.where((75<=toques['y'])&(toques['y']<=100),'4',False))))

In [18]:
toques['zona_xy'] = toques['zona_x']+'-'+toques['zona_y']

In [19]:
toques.head()

,fecha,equipo,id_jugador,jugador,categoria_evento,x,y,zona_x,zona_y,zona_xy
46545,1,Villarreal,76610,Mario Gaspar,despeje,23.8,5.0,1,1,1-1
46546,1,Levante,169201,José Manuel Rodríguez Benito,despeje,8.7,61.2,1,3,1-3
46547,1,Rayo Vallecano,103860,Abdoulaye Ba,despeje,9.7,54.3,1,3,1-3
46548,1,Leganés,53020,Dimitrios Siovas,despeje,29.0,78.5,2,4,2-4
46549,1,Valencia CF,92055,Cristiano Piccini,despeje,24.1,6.8,1,1,1-1

In [20]:
toques.zona_xy.unique()

array(['1-1', '1-3', '2-4', '1-2', '2-1', '1-4', '2-2', '2-3', '3-4',
       '3-1', '3-3', '4-4', '4-3', '4-1', '4-2', '3-2'], dtype=object)

In [21]:
#toques['mediocampo'] = np.where((toques['zona_xy']=='2-3')|(toques['zona_xy']=='3-3')|(toques['zona_xy']=='2-2')|
 #                              (toques['zona_xy']=='3-2'),True,False)

In [22]:
toques['mediocampo'] = np.where((toques['zona_xy']=='3-1')|(toques['zona_xy']=='3-2')|(toques['zona_xy']=='3-3')|
                                (toques['zona_xy']=='3-3'),True,False)

In [23]:
toques.head()

,fecha,equipo,id_jugador,jugador,categoria_evento,x,y,zona_x,zona_y,zona_xy,mediocampo
46545,1,Villarreal,76610,Mario Gaspar,despeje,23.8,5.0,1,1,1-1,False
46546,1,Levante,169201,José Manuel Rodríguez Benito,despeje,8.7,61.2,1,3,1-3,False
46547,1,Rayo Vallecano,103860,Abdoulaye Ba,despeje,9.7,54.3,1,3,1-3,False
46548,1,Leganés,53020,Dimitrios Siovas,despeje,29.0,78.5,2,4,2-4,False
46549,1,Valencia CF,92055,Cristiano Piccini,despeje,24.1,6.8,1,1,1-1,False

In [24]:
toques = toques[['fecha','equipo','id_jugador','jugador','mediocampo']]

In [25]:
toques.head()

,fecha,equipo,id_jugador,jugador,mediocampo
46545,1,Villarreal,76610,Mario Gaspar,False
46546,1,Levante,169201,José Manuel Rodríguez Benito,False
46547,1,Rayo Vallecano,103860,Abdoulaye Ba,False
46548,1,Leganés,53020,Dimitrios Siovas,False
46549,1,Valencia CF,92055,Cristiano Piccini,False

In [26]:
len(toques[toques['jugador']=='Víctor Laguardia'])

1915

In [27]:
(toques[toques['jugador']=='Víctor Laguardia'])['mediocampo'].sum()

157

In [28]:
toques = toques.groupby(['equipo','id_jugador','jugador']).agg(['count','sum']).reset_index().drop('fecha',1)

C:\Users\DELUX\Anaconda3\lib\site-packages\pandas\core\generic.py:3111: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  obj = obj._drop_axis(labels, axis, level=level, errors=errors)

In [29]:
toques.head()

   equipo id_jugador                          jugador mediocampo
                                                           count    sum
0  Alavés    49370.0                 Víctor Laguardia       1915  157.0
1  Alavés    55179.0                   Mubarak Wakaso       1072  318.0
2  Alavés    55378.0  Manuel Alejandro García Sánchez       1655  382.0
3  Alavés    80956.0                       Tomás Pina       1599  435.0
4  Alavés    82970.0                    John Guidetti        283  111.0

In [30]:
toques.columns = toques.columns.get_level_values(0)

In [31]:
toques.head()

   equipo  id_jugador                          jugador  mediocampo  mediocampo
0  Alavés     49370.0                 Víctor Laguardia        1915       157.0
1  Alavés     55179.0                   Mubarak Wakaso        1072       318.0
2  Alavés     55378.0  Manuel Alejandro García Sánchez        1655       382.0
3  Alavés     80956.0                       Tomás Pina        1599       435.0
4  Alavés     82970.0                    John Guidetti         283       111.0

In [32]:
toques.columns.values[3] = 'total'

In [33]:
toques.head()

   equipo  id_jugador                          jugador  total  mediocampo
0  Alavés     49370.0                 Víctor Laguardia   1915       157.0
1  Alavés     55179.0                   Mubarak Wakaso   1072       318.0
2  Alavés     55378.0  Manuel Alejandro García Sánchez   1655       382.0
3  Alavés     80956.0                       Tomás Pina   1599       435.0
4  Alavés     82970.0                    John Guidetti    283       111.0

In [34]:
toques['ind_mediocampo'] = toques['mediocampo']/toques['total']

In [35]:
toques.head()

,equipo,id_jugador,jugador,total,mediocampo,ind_mediocampo
0,Alavés,49370.0,Víctor Laguardia,1915,157.0,0.081984
1,Alavés,55179.0,Mubarak Wakaso,1072,318.0,0.296642
2,Alavés,55378.0,Manuel Alejandro García Sánchez,1655,382.0,0.230816
3,Alavés,80956.0,Tomás Pina,1599,435.0,0.272045
4,Alavés,82970.0,John Guidetti,283,111.0,0.392226

In [36]:
toques[toques['equipo']=='Atlético de Madrid']

,equipo,id_jugador,jugador,total,mediocampo,ind_mediocampo
53,Atlético de Madrid,17804.0,Juan Francisco Torres Belén,1227,338.0,0.275469
54,Atlético de Madrid,18507.0,Diego Da Silva Costa,589,195.0,0.331070
55,Atlético de Madrid,18595.0,Filipe Luís Kasmirski,1907,147.0,0.077084
56,Atlético de Madrid,32281.0,Diego Godín,1593,152.0,0.095417
57,Atlético de Madrid,50401.0,Nikola Kalinic,232,87.0,0.375000
58,Atlético de Madrid,59981.0,Antonio Adán,29,0.0,0.000000
59,Atlético de Madrid,65807.0,Stefan Savic,776,139.0,0.179124
60,Atlético de Madrid,76650.0,Antoine Griezmann,2072,780.0,0.376448
61,Atlético de Madrid,77390.0,Jorge Resurrección,2560,810.0,0.316406
62,Atlético de Madrid,81352.0,Jan Oblak,1039,0.0,0.000000
63,Atlético de Madrid,86399.0,Víctor Machín Pérez,568,117.0,0.205986
64,Atlético de Madrid,88482.0,Álvaro Morata,602,218.0,0.362126
65,Atlético de Madrid,89335.0,Saúl Ñíguez,2435,607.0,0.249281
66,Atlético de Madrid,102383.0,Santiago Arias,1381,458.0,0.331644
67,Atlético de Madrid,151883.0,José Giménez,1136,117.0,0.102993
68,Atlético de Madrid,154310.0,Gelson Dany Batalha Martins,146,48.0,0.328767
69,Atlético de Madrid,156223.0,Ángel Correa,1330,522.0,0.392481
70,Atlético de Madrid,167199.0,Thomas Partey,1858,733.0,0.394510
71,Atlético de Madrid,167449.0,Thomas Lemar,1464,378.0,0.258197
72,Atlético de Madrid,174888.0,Lucas Hernández,783,53.0,0.067688
73,Atlético de Madrid,179380.0,Antonio Moya,59,7.0,0.118644
74,Atlético de Madrid,220566.0,Rodrigo Hernández,2579,830.0,0.321830
75,Atlético de Madrid,244733.0,Andrés Solano,36,8.0,0.222222
76,Atlético de Madrid,248505.0,Victor Mollejo,51,19.0,0.372549
77,Atlético de Madrid,248507.0,Sergio Camello,16,5.0,0.312500
78,Atlético de Madrid,437820.0,Carlos Isaac Muñoz,70,30.0,0.428571
79,Atlético de Madrid,437821.0,Francisco Montero,231,12.0,0.051948
80,Atlético de Madrid,437831.0,Joaquín Muñoz,3,0.0,0.000000
81,Atlético de Madrid,445201.0,Borja Garcés,11,4.0,0.363636

In [37]:
feat11 = toques[['equipo','id_jugador','jugador','ind_mediocampo']]

In [38]:
feat11 = feat11.rename(columns={'ind_mediocampo':'feat11'})

In [39]:
feat11.head()

   equipo  id_jugador                          jugador    feat11
0  Alavés     49370.0                 Víctor Laguardia  0.081984
1  Alavés     55179.0                   Mubarak Wakaso  0.296642
2  Alavés     55378.0  Manuel Alejandro García Sánchez  0.230816
3  Alavés     80956.0                       Tomás Pina  0.272045
4  Alavés     82970.0                    John Guidetti  0.392226

In [40]:
feat11[feat11['jugador']=='Lionel Messi']

       equipo  id_jugador       jugador    feat11
84  Barcelona     19054.0  Lionel Messi  0.523721

In [41]:
cd C:\Users\DELUX\Desktop\publicaciones\1_DataScoutingClustering\1_MedioCentroCreativo\df

C:\Users\DELUX\Desktop\publicaciones\1_DataScoutingClustering\1_MedioCentroCreativo\df

In [42]:
feat11.to_csv('feat11.csv',encoding='utf-8', index=False,decimal=',')